body {
  border-top: 4px solid #059;
  background-color: #333;
  color: #fff;
  margin: auto;
}
body header {
  padding: 10px;
  background-color: #333;
  border-bottom: 4px solid #777;
}
body header div.row {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 10vh;
}
body header div.row div.column {
  margin: auto;
}
body header div.row div.column h1#title a {
  font-size: calc(25px + 1vmin);
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Poiret One;
}
body main {
  padding: 20px;
}
body main div.row {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 70vh;
}
body main div.row section#readout table {
  margin: auto;
  padding-top: 20px;
}
body main div.row section#readout table input {
  width: 235px;
  height: 30px;
  background-color: #449944;
  font-family: Quantico;
  font-size: 20px;
  text-align: right;
}
body main div.row section#plate table h3#logo {
  margin: 10px;
  font-family: Quantico;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #222;
}
body main div.row section#plate table button.blue-button {
  width: 165px;
  height: 24px;
  background-color: #0070D7;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}
body main div.row section#panel button {
  background-color: #0070D7;
  border: 3px inset #0090FF;
}
body main div.row section#panel button table {
  margin: auto;
  border: 1px solid #952;
  width: 240px;
  height: 30px;
  background-color: #222;
}
body main div.row section#panel button table td.toggle {
  border: 2px solid #520;
}
body main div.row section#calculator {
  margin: auto;
  padding-top: 30px;
  width: 270px;
  height: 360px;
  vertical-align: middle;
  border: 5px groove #0090F7;
  border-radius: 0px 0px 15px 15px;
  background-color: #0070D7;
}
body main div.row section#calculator section#keypad table {
  margin: auto;
}
body main div.row section#calculator section#keypad table button.white-button {
  width: 60px;
  height: 24px;
  background-color: #fff;
  color: #0070D7;
  font-weight: bold;
  font-size: 11px;
}
body main div.row section#calculator section#keypad table button.red-button {
  width: 60px;
  height: 24px;
  background-color: #C73000;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}
body main div.row section#blackboard {
  background-color: #333;
  border: 10px solid #BB9955;
  border-bottom: 25px solid tan;
}
body main div.row section#blackboard canvas {
  height: 350px;
}
body main div.row section#blackboard div.reset-wrapper {
  height: 10px;
}
body main div.row section#blackboard div.reset-wrapper button {
  width: 60px;
  height: 24px;
  background-color: #fff;
  color: #222;
  font-weight: bold;
  font-size: 14px;
}
body main div.row section#monitor {
  border: 10px solid #DDD;
  border-bottom: 25px solid silver;
  border-radius: 10px;
  background-color: #333;
}
body main div.row section#monitor div#terminal {
  background-color: #333;
  height: 350px;
  color: #00C000;
  font-family: Quantico;
  overflow: auto;
}
body main div.row section#monitor div.reset-wrapper {
  height: 10px;
}
body main div.row section#monitor div.reset-wrapper button {
  width: 60px;
  height: 24px;
  background-color: #fff;
  color: #222;
  font-weight: bold;
  font-size: 14px;
}
body footer {
  padding: 10px;
  background-color: #333;
  border-top: 2px solid #777;
}
body footer div.row {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 10vh;
}
body footer div.row div.column {
  margin: auto;
}
body footer div.row div.column h5#attribution {
  font-family: sans;
  color: grey;
  font-size: calc(6px + 0.5vmin);
  margin: 0;
}

@media only screen and (max-width: 767px) {
  body main .row {
    display: flex;
    align-items: center;
    min-width: 100%;
    min-height: 40vh;
  }
}
