@mixin flexbox($h) {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: $h;
}

body {
  border-top: 3px solid #059;
  border-bottom: 1px solid #059;
  background-color: #333;
  color: #fff;
  @include flexbox(15vh);
  main {
    .row {
      @include flexbox(70vh);
    }
  }
  footer {
    section {
      @include flexbox(10vh);
      .column {
        p {
          font-size: calc(8px + 1vmin);
          margin: 0;
          a {
            color: #FF5500;
            font-weight: bold;
          }
          a:hover {
            color: #FFCC55;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    main {
      .row {
        @include flexbox(40vh);
        flex-row: row-wrap !important;
      }
    }
  }
}